{% extends 'base.html.twig' %}

{% block title %}Fish and Tips - Mention Légales{% endblock %}

{% block body %}

<h1 class="main-title text-center text-white font-italic">Pêche du carnassier</h1>
<h2 class="text-center text-white font-italic"> Astuce en tout genre</h2>
{% endblock %}