{% extends "base.html.twig" %}

{% block title %}Erreur interne{% endblock %}

{% block body %}
 <div class="home-header container-fluid mt-3 border-0">
    <div class="row">
        <div class="col-12 p-0">
            <div id="header-text" class="text-center">
                <h1>Erreur interne</h1>
                <h2>Le serveur a rencontré une erreur interne qui l’a empêché de satisfaire la requête.</h2>
                <p>Code de l'erreur : {{status_code}}</p>
                <p><a class="text-blue" href="{{ path('home') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}